.form-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0px 20%;
  width: 100%;
}

input[type="text"] {
  margin-top: 30px;
  flex-grow: 1;
  background: transparent;
  border: none;
  border-bottom: 1px solid #D5DDE0;
  text-align: left;
}

input[type="checkbox"] {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

input[type="checkbox"] + label {
  cursor: pointer;
}
input[type="checkbox"] + label::before {
  content: '';
  color: #fff;
  border-radius: 3px;
  margin-right: 10px;
  width: 16px;
  height: 16px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 24px;
  background: #D5DDE0;
}

input[type="checkbox"]:checked + label.checkbox-data::before {
  content: url('checkbox-ok.svg');
  color: #fff;
  background-color: #418DE8;
}

