.promo {
  /*margin-left: auto;*/
  /*margin-right: auto;*/
}

.logo {
  text-align: center;
}

.about {
  width: 240px;
  height: 105px;
  margin-left: auto;
  margin-right: auto;
  color: #818FB3;
}