.Button{
  display: inline-block;
  border-radius: 20px;
  border: none;
  /*margin-right: 15px;*/
  margin-top: 50px;


  height: 40px;
  padding-left: 35px;
  padding-right: 35px;

  font-family: Cera Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
}

.Button:focus{
  outline: none;
}

.Button:active{
  box-shadow: inset 2px 2px 1px rgba(0,0,0, .3);
}

.Button:disabled{
  background: #ccc;
  color: #000;
  cursor: not-allowed;
}

.blue {
  background: #418DE8;
}