@import url(//db.onlinewebfonts.com/c/917a69d24b88e2d4d2ca803c0605bd59?family=CeraPRO);
/*@font-face {*/
/*  font-family: 'Cera Pro';*/
/*  src: url(//db.onlinewebfonts.com/c/917a69d24b88e2d4d2ca803c0605bd59?family=CeraPRO);*/
/*}*/

@font-face {
  font-family: 'Cera Pro';
  src: url('./fonts/CeraPro-Regular.eot');
  src: url('./fonts/CeraPro-Regular.eot');
  src: url('./fonts/CeraPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('./fonts/CeraPro-Regular.woff') format('woff'),
  url('./fonts/CeraPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  min-height: 100vh;
  margin: 0;
  /*box-sizing: border-box;*/
  font-family: 'Cera Pro';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.grid {
  display: grid;
  grid-gap: 15px;
}

.grid .desktop {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(150px, auto);
}

.div .desktop .c {

}

.mobile {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(150px, auto);
}

.module {

}