@font-face {
  font-family: 'Cera Pro';
  src: local('Cera Pro Regular'), local('Cera-Pro-Regular'),
  url('./fonts/CeraPro-Regular.woff2') format('woff2'),
  url('./fonts/CeraPro-Regular.woff') format('woff'),
  url('./fonts/CeraPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro Bold';
  src: local('Cera Pro Bold'), local('Cera-Pro-Bold'),
  url('./fonts/CeraPro-Bold.woff2') format('woff2'),
  url('./fonts/CeraPro-Bold.woff') format('woff'),
  url('./fonts/CeraPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/**,*/
/**::before,*/
/**::after {*/
/*  box-sizing: border-box;*/
/*}*/


body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: 'Cera Pro', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  line-height: 21px;
  background: #E9EFFC;
}

H1 {
  font-family: 'Cera Pro Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #455273;
  margin-top: 25px;
}

H2 {
  font-family: 'Cera Pro Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 23px;
  text-align: left;
  color: #455273;
  margin-top: 0;
}

H3 {
  font-family: 'Cera Pro Bold';
  text-align: left;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #455273;
  margin-top: 0;
}

H5 {
  text-align: left;
  font-size: 10px;
  line-height: 13px;
  margin-bottom: 10px;
  margin-top: 15px;
  letter-spacing: 0.05em;
  color: #BABDC2;
  text-transform: uppercase;
}

P {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #818FB3;
  margin-top: 40px;
}

div.rule {
  border-bottom: 1px dotted #D5DDE0;
  margin-top: 30px;
  margin-bottom: 30px;
}

div.rule-15 {
  border-bottom: 1px dotted #D5DDE0;
  margin-top: 15px;
  margin-bottom: 15px;
}

.main {
  width: 100vw;
  height: 100vh;
}

.flex {
  display: flex;
}
.flex-center {
  align-content: center;
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.flex-row {
  flex-direction: row;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.flex-column {
  flex-direction: column;
}
.space-around {
  justify-content: space-around;
  align-content: stretch;
}
.space-between {
  justify-content: space-between;
}
.flex-start {
  justify-content: flex-start;
}
.flex-grow-1 {
 flex-grow: 1;
}

.content {
  background: #F5F8FF;
  padding: 6vh 3vw 6vh 3vw;
  margin: 4vh 10vw 4vh 0;
  border-radius: 6px;
  width: 100vw;
  /*height: 80vh;*/
}

.promo {
  width: 31vw;
  padding: 0 8vw 0 8vw;
}

.padding {
  padding: 6vh 11.5vw 6vh 11.5vw;
}

.padding-phone {
  padding: 6vh 8vw 6vh 8vw;
}

.order {
  background: #FFFFFF;
  border-radius: 8px;
  padding: 10px 20px 10px 20px;
  margin: 40px 0 30px 0;
  color: #455273;
  font-size: 14px;
  line-height: 18px;
}

.order-mobile {
  background: #FFFFFF;
  border-radius: 8px;
  padding: 10px 20px 10px 20px;
  margin: 20px 0 30px 0;
  color: #455273;
  font-size: 14px;
  line-height: 18px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
}

.order-mobile p {
  text-align: left;
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 18px;
  flex-grow: 1;
  background: transparent;
  color: #455273;
  font-size: 14px;
  font-weight: 600;
}
.order-mobile span {
  float: right;
  color: #BABDC2;
  font-size: 12px;
  text-align: right;
}

.order p {
  text-align: left;
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 18px;
  flex-grow: 1;
  background: transparent;
  color: #455273;
  font-size: 14px;
  font-weight: 600;
}
.order span {
  float: right;
  color: #BABDC2;
  font-size: 12px;
  text-align: right;
}

.ok {
  vertical-align: middle;
  margin-right: 10px;
}

.back {
  flex-basis: 100%;
  text-align: left;
  margin-bottom: 30px;
  cursor: pointer;
  padding: 0;
  height: 30px;
}

.text-content {
  flex-basis: 100%;
  display: inline-block;
  color: #455273;
  text-align: left;
  margin-top: 30px;
  font-size: 12px;
}

.text-order-finish {
  flex-basis: 100%;
  display: inline-block;
  text-align: left;
  margin-top: 30px;
  font-size: 14px;
  line-height: 21px;
  color: #818FB3;
}

.text-inline {
  flex-basis: 100%;
  display: inline-block;
  color: #455273;
  text-align: left;
  margin: 0;
  font-size: 12px;
}

.contact {
}

.select {
}

.container {
  text-align: center;
}

.mobile {
  background: #F5F8FF;
}

.module {

}

.padding-20 {
  padding-right: 20px;
}

.margin-left {
  padding-left: 20vw;
}

.mobile-overscroll {
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;

  /*hide scrollbar on Firefox*/
  scrollbar-width: none;

  /*hide scrollbar on Edge*/
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

/*hide scrollbar on Chrome*/
.mobile-overscroll::-webkit-scrollbar {
  display: none;
}