@font-face {
  font-family: 'Cera Pro';
  src: local('Cera Pro Regular'), local('Cera-Pro-Regular'),
  url('./fonts/CeraPro-Regular.woff2') format('woff2'),
  url('./fonts/CeraPro-Regular.woff') format('woff'),
  url('./fonts/CeraPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro Bold';
  src: local('Cera Pro Bold'), local('Cera-Pro-Bold'),
  url('./fonts/CeraPro-Bold.woff2') format('woff2'),
  url('./fonts/CeraPro-Bold.woff') format('woff'),
  url('./fonts/CeraPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  min-height: 100vh;
  min-width: 100vh;
  margin: 0;
  font-family: 'Cera Pro', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  line-height: 21px;
  background: #E9EFFC;
}

H1 {
  font-family: 'Cera Pro Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #455273;
  margin-top: 25px;
}

H2 {
  font-family: 'Cera Pro Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #455273;
}

H3 {
  font-family: Cera Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #455273;
}

H5 {
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 0.05em;
  color: #BABDC2;
}

P {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #455273;
  margin-top: 40px;
}

HR {
  border: 1px dashed #D5DDE0;
}

.main {
  min-height: 100vh;
  min-width: 100vh;
}

.flex {
  display: flex;
}

.flex-center {
  align-content: center;
  align-items: center;
}

.flex-row-wrap {
  flex-direction: row;
  flex-wrap: wrap;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.flex-start {
  justify-content: flex-start;
}

.promo {
  flex-grow: 5;
}

.content {
  /*line-height: 30px;*/
  background: #F5F8FF;
  /*flex-direction: column;*/
  flex-grow: 1;
  /*width: 50vw;*/
  max-width: 60%;
  /*justify-content: center;*/
  /*margin-left: 5vw;*/
  /*margin-right: 5vw;*/
  padding-left: 5vw;
  padding-right: 5vw;
  margin-right: 5vw;
}

.contact {
  /*flex-grow: 1;*/
}

.select {
  /*flex-grow: 1;*/
}

/*.grid {*/
/*  min-height: 100vh;*/
/*  display: grid;*/
/*  grid-gap: 15px;*/
/*}*/

/*.desktop-1 {*/
/*  background: #E5E5E5;*/
/*  grid-template-columns: 1fr 1fr;*/
/*  grid-template-rows: 1fr 1fr;*/
/*  grid-template-areas:*/
/*      "Promo Contact"*/
/*      "Promo Select";*/
/*}*/

/*.desktop-6 {*/
/*  background: #E5E5E5;*/
/*  grid-template-columns: 1fr 1fr;*/
/*  grid-template-rows: 1fr;*/
/*  grid-template-areas:*/
/*      "Promo Order";*/
/*}*/

/*.Promo {*/
/*  grid-area: Promo;*/
/*  margin-top: auto;*/
/*  margin-bottom: auto;*/
/*}*/
/*.Contact { grid-area: Contact; }*/
/*.Select { grid-area: Select; }*/
/*.Order { grid-area: Order; }*/




.container {
  text-align: center;
}

.mobile {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(150px, auto);
}

.module {

}